.footer {
	background-color: $primary-text-color;
	color: $light-primary-color;
	width: 100%;
	max-width: 100%;
	position: relative;
	.content-footer {
		width: 100%;
		text-align: center;
		padding: 5px 0 10px 0;
		font-size: $font-size-small - 0.3rem;
		.footer-brand-title {
			font-family: $content-articles-font-family;
		}
		.social-networks {
			padding: 10px 0;
			a {
				color: $light-primary-color;
				text-decoration: none;
				padding: 0 5px;
				@include transition(color .2s linear);
				@include desktop {
					&:hover {
						color: $accent-color;
					}
				}
				&:focus,
				&:active {
					color: $accent-color;
				}
				.fa {
					font-size: $font-size-large;
				}
			}
		}
	}
	.go-up-page {
		position: absolute;
		right: 20px;
		top: calc(50% - 24px);
		i {
			font-size: $font-size-large + 1.5rem;
			border-radius: 50%;
			background-color: $light-primary-color;
			color: $primary-text-color;
			opacity: 0.8;
		}
	}
}