.navbar {
	position: fixed;
	background-color: $light-primary-color;
	color: $secondary-text-color;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid $icon-color;
	z-index: 2;
	max-height: 55px;
	top:0;
	.navbar-header {
		width: 100%;
		padding: 15px;
		padding-bottom: 0px;
		text-align: center;
		position: relative;
		.button-category {
			display: inline-block;
			position: absolute;
			left: 15px;
		}
		.login {
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.brand {
			text-align: center;
			display: inline-block;
			a {
				height: 36px;
				max-width: 60px;
    			width: 60px;
    			max-height: 36px;
    			text-decoration: none;
				color: $primary-text-color;
				font-size: $font-size-large;
			}
		}
	}
	.content-categories {
		.category-label {
			display: none;
			float: left;
			padding: 0px 0 5px 15px;
			text-align: left;
			a {
				text-decoration: none;
				color: $primary-text-color;
				font-size: $font-size-large;
				&:hover,
				&:active,
				&:focus {
					color: $primary-text-color;
				}
			}
		}
		.navbar-list {
			list-style-type: none;
			font-size: 0;
			width: calc(100% - 100px);
			float: right;
			display: none;
			overflow-y: auto;
			white-space: nowrap;
			margin: 0px;
			.navbar-item {
				display: inline-block;
				font-size: $font-size-base;
				padding: 0 5px 5px 5px;
				a {
					text-decoration: none;
					color: $secondary-text-color;
					font-size: $font-size-large;
					@include transition(color .2s linear);
					&:hover,
					&:active,
					&:focus {
						color: $accent-color;
					}
				}
			}
			.navbar-item.active {
				color: $accent-color;
			}
		}
	}
	.content-categories.show-animate {
		@include animation('fade-in-slide-right .5s forwards');
		.category-label {
			display: inline-block;
			@include animation('show-category .5s forwards');
		}
		.navbar-list {
			display: block;
			@include animation('show-category-list .5s forwards');	
		}
	}
	.content-categories.hide-animate {
		@include animation('fade-out-slide-left .5s forwards');
		.category-label {
			@include animation('show-category-reverse .5s forwards');
		}
		.navbar-list {
			display: block;
			@include animation('show-category-list-reverse .5s forwards');
		}
	}
}