
$main-font-family: 'Roboto', sans-serif;
$content-articles-font-family: 'Slabo 27px', serif;

$font-size-base: 1.2rem;
$font-size-small: $font-size-base - 0.2rem;
$font-size-large: $font-size-base + 0.2rem;
$font-size-h1: $font-size-base + 0.9rem;
$font-size-h2: $font-size-base + 0.7rem;
$font-size-h3: $font-size-base + 0.5rem;
$font-size-h4: $font-size-base + 0.3rem;
$font-size-h5: $font-size-base + 0.2rem;
$font-size-h6: $font-size-base + 0.1rem;

$accent-color: #8BC34A;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$icon-color: #9E9E9E;
$light-primary-color: #F5F5F5;
$dark-primary-color: #616161;

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 767px;