@import 'reset';
@import 'lib/font-awesome';
@import 'lib/material-icons';
@import 'lib/sprite';
@import 'icons';
@import 'lib/bootstrap';
@import 'variables';
@import 'responsiveutilities';
@import 'effectsmixins';
@import 'animations';
@import 'buttons';
@import 'navbar';

body {
	font-family: $main-font-family;
	font-size: $font-size-base;
	background-color: $light-primary-color;
	margin-top: 55px;
}